<div class="container"> 
      <div id="middlebar">
        <ul class="nav navbar-nav">
           <li class=underline--magical id="about"><a href="/about">ABOUT</a></li>
           <li class=underline--magical id="projects"><a href="/projects">PROJECTS</a></li>
        </ul>
      </div>

</div>
