<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="home container-fluid bg-3 text-center">    
  <div class="typewriter">
  	<h1 class="maintext">A Place For Projects</h1>
  </div>
</div>

<div class="homeabout container-fluid bg-2 text-center">
	<h3>About</h3>	
	<div class="row">
		<div class="col-lg-6">
			<h2> Chris Quinn</h2>	
			<p> I am currently employed as a DevOps Engineer I, at Ultra Mobile. My interests include backend engineering, cloud infrastructure development/maintenance, and automation. My current ambition is to continue down the DevOps/SRE career path as I have curiosity planted in the entire software stack.</p>
		</div>
		<div class="col-lg-6">
		
		</div>
	</div>
</div>

</body>
<% include partials/script %>
</html>
